
:root {
/* COLORS */
--bg-color: #222;
--text-color: #fff;
--alt-text-color: #ccc;
--accent-color: pink;
--gradient: linear-gradient(90deg, pink,blue);

/* FONTS */
--clean-font: 'Inter Tight', sans-serif;

/* SIZES */
--section-head: 2rem;
--sub-head: 1.6rem;
--paragraph: .8rem;
}

/* GENRAL STYLING */


body {
background: var(--bg-color);
height: 100%;
/* White(black)space border */
padding: 5% 8%;
/* Preventing squishing */
min-width: 600px;
}


a {
    /* As it should be */
    text-decoration: none;
}

/***************** ELEMENT STYLING *****************/

/* NAV BAR */

/* TODO: Fix nav bar collapse when it hits a section  */

nav {
    /* Layout */
    margin-left: auto;
    width: 100%;
    height: 7vh;
    /* Sticks to the top on scroll down */
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    /* Flex Settings */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

/* JD TAG IN NAV BAR */
nav p {
    /* Layout */
    width: 10%;
    text-align: center;
    /* Deco */
    color: beige;
    font-family: sans-serif;
    font-weight: 750;
}
    
/* Flex container for nav links */
nav ul {
     /* Proportions */
     height: 100%;
     width: 25%;
     /* Flex Settings */
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    /* Deco */
    font-family: var(--clean-font);
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--paragraph);
    font-weight: 100;
}

/* HERO CARD */

h1 {
    /* Layout */
    margin: 0 auto;
    /* Deco */
    font-family: var(--clean-font);
    font-size: 4rem; 
    color: var(--text-color);
    /* Making sure nothing gets squished */
    min-width: 225px;
    /* Animation that brings it into view */
    animation-name: nameload;
    animation-duration: 5s;
    animation-direction: forward;
    /* animation-delay: .5s; */

}

/* FOOTER */

footer {
    /* Layout */
    height: 10vh;
    width: 30%;
    margin: 0 auto;
    /* Deco */
    background-color: #000;
    font-family: var(--clean-font);
    color: var(--text-color);
    /* Flex Settings */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/**************** CLASS STYLING ****************/

/* HERO CARD */

.hero-card {
    margin: 0 auto;
    margin-top: 12%;
    text-align: center;
    /* Positions the card in the middle of the screen */

}

.hero-card p {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--section-head);
    color: var(--text-color);
    /* Layout */
    margin: 0 auto;
    padding-top: 2vh;
    /* Gradient Text */
    max-width: 236px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--gradient);
    /* Anti Squish */
    min-width: 236px;
}

/* ABOUT ME SECTION */

.about-me {
    /* Layout */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40vh;
    /* Flex Settings */
    display: flex;
    justify-content: space-between;
    /* Deco */
}

.about-me img {
    /* Layout */
    width: 30%;
    height: auto;
    margin: 0 auto;
    /* Deco */
    border-radius: 100%;
    /* TODO: Add border with rainbow effect. */
}

.bio {
    /* Layout */
    margin: 0 auto;
    width: 40%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bio h2 {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--section-head);
    color: var(--text-color);
}

.bio p {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--paragraph);
    color: var(--alt-text-color)
}

/* WORK SECTION / PORTFOLIO SHOWCASE */

.work {
    /* Layout */
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 40vh;
    /* Deco */
    background-color: var(--bg-color);
}

.work h2 {
    /* Layout */
    width: auto;
    margin: 0 auto;
    margin-bottom: 5vh;
    text-align: center;
    /* Deco */
    font-family: var(--clean-font);
    color: var(--text-color);
    font-size: var(--section-head);
}

.card-container {
    /* Layout */
    width: 100%;
    height: 90vh;
    /* Flex Settings */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Individual Portfolio Card */

/* TODO: Add language badges underneath to indicate languages used. */



.card {
    /* Layout */
    width: 38%;
    height: 30%;

    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* Deco */
    box-shadow: 1vh 1vw 10px black;
    border-radius: 10px;

    /* Transitions for hover effects */
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    transition-property: transform;
    transition-duration: .2s;
}

.primary {
    /* The largest card */
    /* TODO: Add more subtle emphasis on the top card. */
    flex-basis: 1000px;
    margin: 0 auto;
    width: 100%;
    /* Deco */
}

.primary div h3 {
    font-weight: 900;
    color: white;
}

/* WITHIN THE CARDS */

.card img {
    /* Size of icons */
    height: 14vh;
    width: 14vh;
    /* Transition for hover effects */
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    transition-property: transform;
    transition-duration: .2s;
}

.proj-description {
    /* Layout */
    width: 50%;
    height: 90%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* WITHIN THE TEXT SECTION OF THE CARDS */

.proj-description h3 {
    /* Deco */
    font-family: var(--clean-font);
    color: var(--text-color);
    font-size: var(--sub-head);
}

.proj-description p {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--paragraph);
    color: var(--alt-text-color);
}

/* CONTACT */

.contact h2 {
    /* Layout */
    text-align: center;
    /* Deco */
    font-size: var(--section-head);
    font-family: var(--clean-font);
    color: var(--text-color);
    margin-top: 20vh;
}

.contact-icons {
    /* Layout */
    width: 50%;
    margin: 0 auto;
    height: 15vh;
    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/***************** INTERACTIVITY *****************/

/* Portfolio Cards Hover Effects */

/* Raises and highlights the card */

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 20px #aaa;
}

/* Increases the size of the icon. */

.card:hover img {
    transform: scale(1.1);
}

/* About Me Image Hover Highlight attempt  */

/* TODO: Try Again... */

/****************** ANIMATIONS ******************/

@keyframes nameload {
    from {
        transform: translateY(-100%);
        opacity: 0%;
      }
    
      to {
        transform: translateY(0%);
        opacity: 100%;
      }
}

/***************** MEDIA QUERIES *****************/

/* TODO: Adjust spacing between sections for smaller screens, too much space as is. */

/* Medium Size */
@media screen and (max-width: 1200px) {
    /* ABOUT SECTION */

}

/* This is the breakpoint where the nav bar changes */
@media screen and (max-width: 1075px) {
    nav {
        display: block;
        height: 30vh;
        margin: 0 auto;
        text-align: center;
    }
    
    /* Gets rid of name on the left, I dont find it neccessary on this small of a screen. */
    nav p {
        display: none;
    }

    nav ul {
        flex-direction: column;
        margin: 0 auto;
    }
}

/* Image starts to distort after this breakpoint so we set it to stack */
/* Also resize the description so it fills more of the screen */
@media screen and (max-width: 990px) {
    /* ABOUT ME */
    .about-me {
        display: block;
        width: 100%;
    }

    .about-me img {
        height: 40vh;
        width: 40vh;
    }

    .bio {
        margin-top: 10vh;
        width: 80%;
    }
}

/* Resize work cards for smaller screen size */

@media screen and (max-width: 876px) {
    /* WORK SECTION */
    .card-container {
        height: 70vh;
    }
    .card {
        width: 80%;
    }
}