
:root {
/* COLORS */
--bg-color: #000;
--text-color: #fff;
--alt-text-color: #bbb;
--accent-color: pink;
--gradient: linear-gradient(90deg, pink, #c0ffee);

/* FONTS */
--clean: 'Inter Tight', sans-serif;
}

/* GENRAL STYLING */

body {
background-color: var(--bg-color);
/* White(black)space border */
padding: 5% 8%;
/* Preventing squishing */
min-width: 600px;
}

/***************** ELEMENT STYLING *****************/

/* NAV BAR */

nav {
    /* Layout */
    margin-left: auto;
    width: 100%;
    height: 7vh;
    /* Flex Settings */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    /* JD TAG */

nav p {
    /* Layout */
    width: 10%;
    text-align: center;
    /* Deco */
    color: beige;
    font-family: sans-serif;
    font-weight: 750;
}

    /* Flex container for nav links */

nav ul {
     /* Proportions */
     height: 100%;
     width: 25%;
     /* Flex Settings */
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    /* Deco */
    font-family: var(--clean);
    text-decoration: none;
    color: var(--text-color);
    font-size: .8rem;
    font-weight: 100;
}

/* HERO CARD */

h1 {
    /* Deco */
    font-family: var(--clean);
    font-size: 4rem;
    margin: 0 auto;
    color: var(--text-color);
    /* Gradient Text */
    /* max-width: 285px;
    background: var(--gradient);
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--gradient); */
    /* Making sure nothing gets squished */
    min-width: 225px;
}

/* MAIN */

/* FOOTER */

/**************** CLASS STYLING ****************/

/* MAIN */

/* HERO CARD */

.hero-card {
    margin: 0 auto;
    margin-top: 12%;
    text-align: center;
    /* Positions the card in the middle of the screen */

}

.hero-card p {
    /* Deco */
    font-family: var(--clean);
    font-size: 2rem;
    color: var(--text-color);
    /* Layout */
    margin: 0 auto;
    padding-top: 2vh;
    /* Gradient Text */
    max-width: 236px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--gradient);
    /* Anti Squish */
    min-width: 236px;
}

/* ABOUT ME SECTION */

.about-me {
    /* Layout */
    width: 90%;
    margin: 40vh auto;
    text-align: center;
    /* margin-top: 40vh; */
    /* Flex Settings */
    display: flex;
    justify-content: space-between;
    /* Deco */
    color: white;
}

.about-me img {
    width: 40%;
    height: auto;
}

.bio {
    width: 40%;
}
            
/* FOOTER */

/***************** ID STYLING *****************/

/* MAIN */

/* FOOTER */

/***************** MEDIA QUERIES *****************/

/* TABLET */

@media screen and (max-width: 992px) {
    nav a {
        font-size: .7rem;
    }

    nav ul {
        flex-direction: column;
    }
}

/* SMARTPHONE */

/* @media screen and (max-width: 768px) {

} */