
:root {
/* COLORS */
--bg-color: #111;
--text-color: #fff;
--alt-text-color: #ccc;
--accent-color: pink;
--gradient: linear-gradient(90deg, pink,blue);

/* FONTS */
--clean-font: 'Inter Tight', sans-serif;

/* TODO: Find another typeface for paragraph text, something thinner */

/* SIZES */
--section-head: 2rem;
--sub-head: 1.6rem;
--paragraph: .8rem;
}

/* GENRAL STYLING */

body {
background: var(--bg-color);
height: 100%;
/* White(black)space border */
padding: 5% 8%;
/* Preventing squishing */
min-width: 600px;
}

a {
    /* As it should be */
    text-decoration: none;
}

/***************** ELEMENT STYLING *****************/

/* NAV BAR */

/* TODO: Fix nav bar collapse when it hits a section  */

nav {
    /* Layout */
    margin-left: auto;
    width: 100%;
    height: 7vh;
    /* Sticks to the top on scroll down */
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    /* Flex Settings */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

/* JD TAG IN NAV BAR */
nav p {
    /* Layout */
    width: 10%;
    text-align: center;
    /* Deco */
    color: beige;
    font-family: sans-serif;
    font-weight: 750;
}
    
/* Flex container for nav links */
nav ul {
     /* Proportions */
     height: 100%;
     width: 25%;
     /* Flex Settings */
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    /* Deco */
    font-family: var(--clean-font);
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--paragraph);
    font-weight: 100;
}

/* HERO CARD */

h1 {
    /* Layout */
    margin: 0 auto;
    /* Making sure nothing gets squished */
    min-width: 225px;
    /* Deco */
    font-family: var(--clean-font);
    font-size: 4rem; 
    color: var(--text-color);
    /* Animation Settings */
    animation-name: nameload;
    animation-duration: 2.5s;
    animation-direction: forward;
    animation-timing-function: ease-out;
}

/* FOOTER */

footer {
    /* Layout */
    height: 10vh;
    width: 30%;
    margin: 0 auto;
    /* Deco */
    background-color: var(--bg-color);
    font-family: "lucida console";
    color: var(--text-color);
    /* Flex Settings */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/**************** CLASS STYLING ****************/

/* HERO CARD */

.hero-card {
    margin: 0 auto;
    margin-top: 12%;
    text-align: center;
    /* Positions the card in the middle of the screen */
}

.hero-card p {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--section-head);
    color: var(--text-color);
    /* Layout */
    margin: 0 auto;
    padding-top: 2vh;
    /* Gradient Text */
    max-width: 236px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--gradient);
    /* Anti Squish */
    min-width: 236px;
    /* Animation Settings */
    animation-name: subload;
    animation-duration: 2.5s;
    animation-direction: forward;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 2s;
}

/* ABOUT ME SECTION */

.about-me {
    /* Layout */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40vh;
    /* Flex Settings */
    display: flex;
    justify-content: space-between;
    /* Deco */
}

.about-me img {
    /* Layout */
    width: 30%;
    height: auto;
    margin: 0 auto;
    /* Deco */
    border-radius: 100%;
    /* TODO: Add border with rainbow effect. */
}

.bio {
    /* Layout */
    margin: 0 auto;
    width: 40%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bio h2 {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--section-head);
    color: var(--text-color);
    /* Flex Settings*/
    display: flex;
    justify-content: center;
}

.abletter {
    /* Deco */
    /* Animation Settings */
    animation-name: letterjump;
    animation-direction: forward;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-play-state: running;
}

/* ABOUT ME WAVE EFFECT */

.abletter:nth-child(1) {
    animation-delay:1s;
  }
  .abletter:nth-child(2) {
    animation-delay:1.1s;  
  }
  .abletter:nth-child(3) {
    animation-delay:1.2s;
  }
  .abletter:nth-child(4) {
    animation-delay:1.3s;  
  }
  .abletter:nth-child(5) {
    animation-delay:1.4s;
  }
  .abletter:nth-child(6) {
    animation-delay:1.5s;  
  }
  .abletter:nth-child(7) {
    animation-delay:1.6s;
  }
  .abletter:nth-child(8) {
    animation-delay:1.7s;
  }
  .abletter:nth-child(9) {
    animation-delay:1.8s;
  }
  .abletter:nth-child(10) {
    animation-delay:1.9s;
  }
  .abletter:nth-child(11) {
    animation-delay:2s;
  }

.bio p {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--paragraph);
    color: var(--alt-text-color)
}

/* WORK SECTION / PORTFOLIO SHOWCASE */

.work {
    /* Layout */
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 40vh;
    /* Deco */
    background-color: var(--bg-color);
}

.work h2 {
    /* Layout */
    width: auto;
    margin: 0 auto;
    margin-bottom: 5vh;
    text-align: center;
    /* Deco */
    font-family: var(--clean-font);
    color: var(--text-color);
    font-size: var(--section-head);
}

.card-container {
    /* Layout */
    width: 100%;
    height: 90vh;
    /* Flex Settings */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Individual Portfolio Card */

/* TODO: Add language badges underneath to indicate languages used. */

.card {
    /* Layout */
    width: 38%;
    height: 30%;

    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* Deco */
    box-shadow: 1vh 1vw 10px black;
    border-radius: 10px;

    /* Transitions for hover effects */
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    transition-property: transform;
    transition-duration: .2s;
}

.primary {
    /* The largest card */
    /* TODO: Add more subtle emphasis on the top card. */
    flex-basis: 1000px;
    margin: 0 auto;
    width: 100%;
}

.primary div h3 {
    font-weight: 900;
    color: white;
}

/* WITHIN THE CARDS */

.card img {
    /* Size of icons */
    height: 14vh;
    width: 14vh;
    /* Transition Settings (Hover) */
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    transition-property: transform;
    transition-duration: .2s;
}

.proj-description {
    /* Layout */
    width: 50%;
    height: 90%;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* WITHIN THE TEXT SECTION OF THE CARDS */

.proj-description h3 {
    /* Deco */
    font-family: var(--clean-font);
    color: var(--text-color);
    font-size: var(--sub-head);
}

.proj-description p {
    /* Deco */
    font-family: var(--clean-font);
    font-size: var(--paragraph);
    color: var(--alt-text-color);
}

/* CONTACT */

.contact h2 {
    /* Layout */
    text-align: center;
    /* Deco */
    font-size: var(--section-head);
    font-family: var(--clean-font);
    color: var(--text-color);
    margin-top: 20vh;
}

.contact-icons {
    /* Layout */
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3vh;
    height: 15vh;
    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Getting contact icons formated for hover effect */
.contact-icons img {
    padding: 2vh;
}

.contact-icons a {
    border-radius: 100%;
    /* Transition Settings (Hover) */
    transition-timing-function: ease-in-out;
    transition-property: transform;
    transition-duration: .2s;
}

/***************** INTERACTIVITY *****************/

/* Portfolio Cards Hover Effects */

/* Raises and highlights the card */

/* TODO: WHY IS THE BOX SHADOW NOT FADING SMOOTHLY!!! */

.card:hover {
    transform: translateY(-3%);
    box-shadow: 0px 0px 20px #333;
}

/* Increases the size of the icon. */

.card:hover img {
    transform: scale(1.1);
}

/* About Me Image Hover Highlight attempt  */

/* TODO: Try Again... */

/* Contact Hover */

/* TODO: Make individual contact icons hover and do a representative color
Phone: Green
Email: Red
GitHub: Grey
LinkedIn Blue */


.callme:hover {
    background-color: #0EB82A;
    transform: translateY(-5%);
}
.emailme:hover {
    background-color: #C83A2D;
    transform: translateY(-5%);
}
.github:hover {
    background-color: #444;
    transform: translateY(-5%);
}
.linkedin:hover {
    background-color: #0A66C2;
    transform: translateY(-5%);
}


/* TODO: Add contact section hover effects */

/****************** ANIMATIONS ******************/

/* Name falls down on page load */

@keyframes nameload {
    0% {
        transform: translateY(-110%);
        opacity: 0%;
      }

    35% {
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
      }
}

/* Subheader Drop-in */

@keyframes subload {
    0% {
        transform: translateY(-50%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

/* Letter Jump */

@keyframes letterjump {
    0% {
        transform: translateY(0%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-8%);
    }

    100% {
        transform: translateY(0%);
    }
}

/***************** MEDIA QUERIES *****************/

/* TODO: Adjust spacing between sections for smaller screens, too much space as is. */

/* This is the breakpoint where the nav bar changes */
@media screen and (max-width: 1075px) {
    /* Center it */
    nav {
        display: block;
        height: 30vh;
        margin: 0 auto;
        text-align: center;
    }
    
    /* Gets rid of name on the left, I dont find it neccessary on this small of a screen. */
    nav p {
        display: none;
    }
    /* Sets the list to stack */
    nav ul {
        flex-direction: column;
        margin: 0 auto;
    }
}

/* Image starts to distort after this breakpoint so we set it to stack */
/* Also resize the description so it fills more of the screen */
@media screen and (max-width: 990px) {
    /* ABOUT ME */
    .about-me {
        display: block;
        width: 100%;
    }

    .about-me img {
        height: 40vh;
        width: 40vh;
    }

    .bio {
        margin-top: 10vh;
        width: 80%;
    }
}

/* Resize work cards for smaller screen size */

@media screen and (max-width: 876px) {
    /* WORK SECTION */
    .card-container {
        height: 70vh;
    }
    .card {
        width: 80%;
    }
}